$color-1: #4392f1;
$color-2: #ece8ef;
$color-3: #e3ebff;
$color-4: #e7f0ff;
$color-5: #020887;
$landing-color: #f6f6f6;

$font-1: 'PT Serif', serif;
$font-2: 'Noto Serif JP', serif;

@mixin grid-item($column, $row) {
  grid-column: $column;
  grid-row: $row;
}

body {
  background: $landing-color;
}
